* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80'); */
    /* background-image: url('https://unsplash.com/collections/1103088/one-color') */
    margin: 0;
    width: 70%;
    background-color: #bed3c3;
}



.text-center {
    margin-top: 1.5em;
}



.navContainer {
    display: flex;
    justify-content: center;
}

.navContainer > nav {
    align-items: flex-start;
}

div.container-fluid {
    width: 150px;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}




h1 {
    margin-top: 20px;
    color: black;
}

.bi:active {
    transform: rotate(180deg);
}

.navbar-toggler > span {
    font-size: 1.3em;
}

#about {
    width: 200px;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-light .navbar-nav .nav-link .active {
    text-align: center;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

li:nth-child(1) {
    margin-top: 35px;
}

.nav-link {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.nav-link:hover {
    background-color: beige;
}

.dropdown-item {
    text-align: center;
}

.nav-item > .nav-link {
    color: black;
}

a.dropdown-item:hover {
    background-color: rgb(132, 168, 235);
}

.navbar-toggler {
    padding: 0;
    color: black;
    transition: background-color 0.3s ease;
}

.navbar-toggler:hover {
    background-color: white;
    color: black;
}

svg {
    top: 100px;
}

.backgroundImage {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.backgroundImage::before {
    content: '';
    background-image: url('https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80');
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.8;
    background-size: cover;
    background-position: right;
    z-index: -5;
}

@media only screen and (max-width: 667px) {
    body {
        font-size: 1em;
    }

    .navbar-toggler > span {
        font-size: 0.9em;
    }

    .nav-link {
        font-size: 1em;
    }

    h1.text-center {
        margin-top: 100px;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;   
    }

    nav.navbar {
        margin-left: 0px;
        margin-right: 0px
    }

    .backgroundImage::before {
        background-size: auto 100%;
        background-position: bottom 170px left 540px;
    }
}

section#contact {
    width: 70%;
    margin: auto;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#contact.displaynone {
    display: none;
}

.container {
    width: 100%;
    margin-top: 11rem;
}

.contact-form {
    height: 44%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px #000000;
    margin:0 20%;
    background-color: aliceblue;
    padding-bottom: 20px;
}

.form-group > button {
    border: none;
    background-color: #e1e1e1;
    color: steelblue;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 5px;
}

.form-group > button:hover {
    background-color: #b1b1b1;
}

.form-group {
    width: 90%;
    margin-top: 0px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
    margin: 0;
} 

@media only screen and (min-width: 1271px) {
    #contact {
        margin-top: 100px;
        width: 100%;
    }
}

@media only screen and (max-width: 1271px) {
    #contact {
        width: 100%;
    }
}
@media only screen and (max-width: 567px) {
    body {
        width: 100%;
    }
}


#status {
    margin-top: 15px;
    padding: 0.3rem;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

#resume {
    margin: 50px 70px;
    padding: 5px;
    width: 100%;
    max-width: 1500px;
    min-height: 1000px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
}

#resume .left_side {
    position: relative;
    background: #C9D8B6;
    padding: 40px;
}
#resume .right_side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.profilePage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.profilePage > .imgBx > img {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.profilePage h4 {
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}


